/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:display=swap');

:root {
    /*Typography*/
    --poppins: 'Poppins', sans-serif;
    --roboto-mono: 'Roboto Mono', monospace;
    /*Colors*/
    --primary: #1877F2;
    --grayish: rgba(0, 0, 0, 0.7);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

a,
a:visited {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

body {
    line-height: 1.5;
    font-family: var(--poppins);
    padding: 0 3.5rem;
    background-image: url(images/background.svg);
    background-attachment: fixed;
    position: relative;
}

/*Header section Style*/
.flex {
    display: flex;
}

.block {
    display: block;
}

.hidden {
    display: none;
}

.container {
    padding: 1.25rem 0;
}

.navbar {
    align-items: center;
    justify-content: space-between;
}

.logo {
    font: 1.5rem var(--roboto-mono);
}

.menu-button {
    border: none;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links-mobile {
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
}

.nav-links-mobile > li {
    background-color: #fff;
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .nav-links{
        display: none;
    }
    
}


/* .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
}

.header__logo {
    font: 800 2rem var(--roboto-mono);
    font-family: 'Courier New', Courier, monospace;
    color: var(--primary);
}

.header__navbar {
    display: none;
}

.menu-icon {
    color: var(--primary);
} */

/*Into Section Styles*/

.intro {
    padding-top: 0.8rem;
    min-height: 100vh;
}

.intro__text {
    line-height: 1.1;
}

.greetings {
    font: 200 1.2rem var(--poppins);
    line-height: 2;
}

.my-name {
    color: var(--primary);
    font-weight: 700;
    font-size: 2.5rem;
}

.web-dev {
    padding: 1rem 0;
    color: var(--grayish);
    font: 500 2rem var(--poppins);
    line-height: 1.2;
}

.intro__paragraph {
    font: 300 0.9rem var(--poppins);
    padding-bottom: 1.5rem;
    color: var(--grayish);
}

.btn {
    padding: 0.5rem 1.9rem;
    background-color: #fff;
    border: 1px solid var(--primary);
    border-radius: 0.3rem;
    font: 600 0.8rem var(--poppins);
    color: var(--primary);
}

.btn:hover {
    background: var(--primary);
    color: #fff;
    transition: 0.75s;
}

.intro__illustration {
    display: none;
}

/*Skills Section Styles*/
.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.skills__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--primary);
    border-radius: 0.7rem;
    padding: 3rem;
    color: var(--primary);
    background-color: #fff;
}

.skills__icon {
    font-size: 7rem;
    
}